@tailwind base;
@tailwind components;
@tailwind utilities;



  :root {
    /* font family */
    --font-sans: var(--font-inter);
    --font-heading: var(--font-figtree);
    /* Core */
    --brand-50: #EBF0FF;
    --brand-600: #2A53CE;
    --brand-700: #203F9E;
    --brand-800: #152B6D;
    --gray-500: #6B7280;
    --icon-color: #B4B9C9;
    --stone-500: #757575;
    --stone-800: #2E2E2E;
    --stone-200: #E8E8E8;
    --toast-border: #e0e0e02a;
    --green-700: #3C7E44;

    --bg-badge-up: #F0FDF4;
    --content-badge-up: #188540;
    --bg-badge-down: #FEF2F2;
    --content-badge-down: #B91C1C;
    --bg-badge-med: #FFFBEB;
    --content-badge-med: #B45309;

    /* Color Usage but not Exist in Alias */
    --custom-surface: #091026;
    --custom-border: #E1E4ED;
    --black: black;
  /* Alias  */
  /* Background */
    --bg-emphasis : #E5E7EB; 
    --bg-default: #FFFFFF;
    --bg-subtle: #F3F4F6;
    --bg-muted: #F9FAFB; 
    --bg-inverted: #101010;
    --bg-info: #D7E1FF;
    --bg-success: #E2FBE8;
    --bg-attention: #FCEED8;
    --bg-error: #F9E3E2;
    --bg-surface: #ffffff; 
    --bg-surface-opactity: rgba(255, 255, 255, 0.416); /* Extra */
    --bg-surface-opactity-2: rgba(79, 78, 78, 0.316); /* Extra */
  /* Border */
    --border-emphasis: #9CA3AF;
    --border-default: #D1D5DB;
    --border-subtle: #D1D5DB;
    --border-muted: #F3F4F6;
  /* Content */
    --content-emphasis: #101010;
    --content-default: #374151;
    --content-subtle: #6B7280;
    --content-muted: #9CA3AF;
    --content-inverted: #FFFFFF;
    --content-info: #200A32;
    --success-info: #285231;
    --attention-content: #73321B;
    --content-error: #752522;
  /* Brand */
    --brand-bg-emphasis: #101010;
    --brand-bg-default: #3567FF;
    --brand-bg-subtle: #D7E1FF;

 /* Basics from shadcn */
    /* Background */
    --background: var(--bg-muted);
    --foreground: var(--content-default);

    --card: var(--bg-muted);
    --card-foreground: var(--content-default);

    --popover: var(--bg-muted);
    --popover-foreground: var(--content-default);

    /* Primary (brand) */
    --primary: var(--brand-bg-default);
    --primary-foreground: var(--content-inverted);

    /* Secondary */
    --secondary: var(--bg-subtle);
    --secondary-foreground: var(--content-default);

    /* Muted */
    --muted: var(--bg-muted);
    --muted-foreground: var(--content-muted);

    /* Accent */
    --accent: var(--bg-subtle);
    --accent-foreground: var(--content-default);

    /* Destructive */
    --destructive: var(--bg-error);

    /* Borders & inputs */
    --border: var(--border-default);
    --input: var(--border-default);

    /* Focus ring */
    --ring: var(--brand-bg-default);

    /* Charts */
    --chart-1: #338DF9;
    --chart-2: #3567FF;
    --chart-3: #9CA3AF;
    --chart-4: #D1D5DB;
    --chart-5: #E5E7EB;

    /* Radius */
    --radius: 0.625rem;

    /* Sidebar */
    --sidebar: var(--bg-muted);
    --sidebar-foreground: var(--content-default);
    --sidebar-primary: var(--brand-bg-default);
    --sidebar-primary-foreground: var(--content-inverted);
    --sidebar-accent: var(--bg-subtle);
    --sidebar-accent-foreground: var(--content-default);
    --sidebar-border: var(--border-default);
    --sidebar-ring: var(--brand-bg-default);
  }

  .dark {
    /* Color Usage but not Exist in Alias */
    --custom-surface: #c5cad9;
    --custom-border: #e1e4ed70;
    --black: rgb(255, 255, 255);
  /* Alias from Figma  */
  /* Background */
    --bg-emphasis : #525252; 
    --bg-default: #1A1A1A;
    --bg-subtle: #2E2E2E;
    --bg-muted: #1F1F1F; 
    --bg-inverted: #F3F4F6;
    --bg-info: #253985;
    --bg-success: #285231;
    --bg-attention: #73321B;
    --bg-error: #752522;
    --bg-surface: #272727; 
  /* Border */
    --border-emphasis: #757575;
    --border-default: #575757;
    --border-subtle: #383838;
    --border-muted: #2E2E2E;
  /* Content */
    --content-emphasis: #FCFCFD;
    --content-default: #D6D6D6;
    --content-subtle: #A5A5A5;
    --content-muted: #575757;
    --content-inverted: #1A1A1A;
    --content-info: #DEE9FC;
    --success-info: #E2FBE8;
    --attention-content: #FCEED8;
    --content-error: #F9E3E2;
  /* Brand */
    --brand-bg-emphasis: #D7E1FF;
    --brand-bg-default: #3567FF;
    --brand-bg-subtle: #12204C;

  /* Basics from shadcn */
    /* Background */
    --background: var(--bg-muted);
    --foreground: var(--content-default);

    --card: var(--bg-muted);
    --card-foreground: var(--content-default);

    --popover: var(--bg-muted);
    --popover-foreground: var(--content-default);

    /* Primary (brand) */
    --primary: var(--brand-bg-default);
    --primary-foreground: var(--content-inverted);

    /* Secondary */
    --secondary: var(--bg-subtle);
    --secondary-foreground: var(--content-default);

    /* Muted */
    --muted: var(--bg-muted);
    --muted-foreground: var(--content-muted);

    /* Accent */
    --accent: var(--bg-subtle);
    --accent-foreground: var(--content-default);

    /* Destructive */
    --destructive: var(--bg-error);

    /* Borders & inputs */
    --border: var(--border-default);
    --input: var(--border-default);

    /* Focus ring */
    --ring: var(--brand-bg-default);

    /* Charts */
    --chart-1: var(--brand-bg-default);
    /* --chart-2: #6B7280; */
    --chart-3: #9CA3AF;
    --chart-4: #D1D5DB;
    --chart-5: #E5E7EB;

    /* Radius */
    --radius: 0.625rem;

    /* Sidebar */
    --sidebar: var(--bg-muted);
    --sidebar-foreground: var(--content-default);
    --sidebar-primary: var(--brand-bg-default);
    --sidebar-primary-foreground: var(--content-inverted);
    --sidebar-accent: var(--bg-subtle);
    --sidebar-accent-foreground: var(--content-default);
    --sidebar-border: var(--border-default);
    --sidebar-ring: var(--brand-bg-default);

  }
  /* Custom Classes */
  @layer utilities {
    .flex-center {
      @apply flex items-center justify-center;
    }

    .flex-center-col {
      @apply flex flex-col items-center justify-center;
    }

    .center-horizontal {
      @apply absolute left-1/2 -translate-x-1/2;
    }

    .center-vertical {
      @apply absolute top-1/2 -translate-y-1/2;
    }

    .center-absolute {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
  }

  @layer base {
    * {
      @apply border-border ;
    }
    body {
      @apply bg-background text-foreground ;
      font-family: var(--font-sans);
    }
    html {
      @apply text-[var(--font-sans)];
    }
  }
  @layer components{
    /* Sidebar */
    .item-menu{
      @apply  rounded-[6px]  p-[8px] 
    }
    .icon-menu{
       @apply text-[var(--stone-500)] size-[16px];
    }
    .item-nav{
      @apply h-[32px]
    }
    .item-menu.active{
      @apply bg-[var(--brand-50)] text-[var(--brand-700)];
    }
    .item-menu.active .icon-menu{
      @apply text-[var(--brand-700)];
    }
    .item-menu:hover{
      @apply bg-[var(--brand-50)] cursor-pointer text-[var(--brand-700)] duration-300 transition-all ;
    }
    .item-menu .icon-menu{
      @apply text-stone-500
    }
    .item-menu:hover .icon-menu{
      @apply text-[var(--brand-700)];
    }

    .icon-cover{
      @apply w-[17.54px] h-[17.54px] border-[0.77px] border-[var(--custom-border)] rounded-xxs text-xxs leading-[12px] font-menlo text-[#B4B9C9] font-bold;
    }
    /* Dashboard */
    .link{
      @apply  hover:text-[var(--brand-700)]  transition-all duration-300 cursor-pointer;
    }

    .blur-div{
      @apply fixed bottom-0 left-0 tablet-md:left-[226px] right-0 h-[62px] z-10;

      /* background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      backdrop-filter: blur(2px);
      /* background-color: red; */
      }
    .blur-dark{
      @apply fixed bottom-0 left-0 tablet-md:left-[226px] right-0 h-[50px] z-10;

        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.34),
          rgba(30, 29, 29, 0.4),
          rgba(49, 49, 49, 0.327),
          rgba(127, 127, 127, 0)
        );

        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
      }
    /* Toast Classes */
    .cn-toast {
        @apply !bg-[var(--bg-inverted)] !text-[var(--content-inverted)] !border-none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.1),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                    0px 1px 1px 0px rgba(0, 0, 0, 0.07) !important;
      }
    .cn-toast button{
      @apply !text-[var(--content-inverted)] hover:!bg-transparent; 
    }
    .cn-toast-error {
        @apply !bg-[var(--bg-error)] !text-[var(--content-error)] ;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.1),
                    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                    0px 1px 1px 0px rgba(0, 0, 0, 0.07) !important;

      }
    .cn-toast-error button{
      @apply !text-[var(--content-error)]
    }
    .cn-toast-error svg{
      stroke: var(--content-emphasis) ;
    }
    .cn-toast [data-button][data-action]{
      background: var(--bg-inverted) !important;
      color: var(--content-inverted) !important;
      outline: none !important;
    }
  }
/* sidebar-scroll */
.div-scroll::-webkit-scrollbar {
  width: 6px;
}

.div-scroll::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

